report.pdf
report.aux
report.log
report.out
output/*.*
output/*
output/*.Rdata
*.Rdata
output/moderna_mock/*
output/moderna_real/*
output/janssen_pooled_mock/*
output/janssen_pooled_realbAb/*
output/janssen_pooled_realADCP/*
output/janssen_pooled_realPsV/*
output/novavax_real/*
output/cov002/*
output/prevent19/*
*.Rout
nohup.out
.nfs*



