report.pdf
report.aux
report.log
report.out
figs/*.png
output/*.csv
output/*.rds
output/*.rda
output/*.png
output/*.jpg
output/*.Rdata
data_clean/*.csv
output/*
figs/*
../data_clean/janssen_pooled_real*
../data_clean/janssen_pooled_real_data_processed.csv
../data_clean/janssen_pooled_real_data_processed_with_riskscore.csv
../data_clean/janssen_pooled_realADCP_data_processed.csv
../data_clean/janssen_pooled_realADCP_data_processed_with_riskscore.csv
../data_clean/moderna_real*
../data_clean/moderna_real_data_processed.csv
../data_clean/moderna_real_data_processed_with_riskscore.csv
*.Rdata


