.Rproj.user
*.Rproj
*.rds
*.rda
.Rhistory
.RData
.Ruserdata
.DS_Store
*.reg
*.log
_book
_bookdown_files
packages.bib
cor_threshold/figs/simultaneous_CI/*.rds
cor_threshold/figs/pointwise_CI/*.rds
# ignore build directories
_report_immuno/*.pdf
_report_immuno/*.html
_report_riskscore/*.pdf
_report_riskscore/*.html
_report_cor/*.pdf
_report_cor/*.html
_report_cop/*.pdf
_report_cop/*.html
data_clean/verification/dat_clean_specifications.aux
data_clean/verification/dat_clean_specifications.knit.md
data_clean/verification/dat_clean_specifications.out
data_clean/verification/dat_clean_specifications.utf8.md
data_clean/verification/dat_clean_specifications.tex
data_clean/*.zip
data_raw/data_raw.zip
riskscore_baseline/figs
data_clean/.Rprofile
data_raw/READMECOVID_VEtrial_practicedatasets_v3.txt
*.pdf
optimal_surrogate/*
data_raw/janssen/COVID_ENSEMBLE_realdata.csv
covpn_correlates_cor_moderna_mock.tex
data_clean/*.csv
data_raw/moderna/immune1.csv
data_raw/moderna/immune.csv
